@forward "fonts/REM";

* {
  box-sizing: border-box;
  font-family: "REM";
}

body {
  margin: 0;
  background: $color-vue-bg;
}

small {
  font-size: small;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.img {
  margin: 0;

  img {
    width: 100%;
  }
}

.text-center {
  text-align: center;
}

.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}

@media print {
  body{
    background: white;
    margin: 0;
    padding: 0;
  }
  #__nuxt > *:not(.printable) {
    display: none;
  }

  #__nuxt .resume {
    display: block;
    align-items: flex-start;
    position: static;
    height: auto;
    width: auto;
    padding: 0;
    max-height: inherit;
    max-width: inherit;
    overflow: auto;

    all: unset; /* Reset all inherited/default styles */
    position: static !important; /* Force the desired position */
    
    &[open] {
      all: unset; /* Also reset styles for the open state */
      position: static !important;
    }

    .print-button {
      display: none;
    }

    .sr-text {
      &.title {
        .sr-text-container {
          font-size: unit(22) !important;
        }
      }
      &.subtitle {
        .sr-text-container {
          font-size: unit(18) !important;
        }
      }
    }

    .sr-modal {
      &-container {
        padding: 0;
      }
      &-body {
        max-height: inherit;
        overflow: visible;
      }

      &-content {
        box-shadow: none;
        min-width: inherit;
      }

      &-backdrop,
      &-close{
        display: none;
      }
    }

    .social-list {
      display: flex;
      width: 100%;

      &-item {
        display: flex;
        gap: unit(8);

        .sr-icon {
          width: unit(25);
          height: unit(25);
          margin-right: unit(4);
        }
      }
    }

    .cv {
      > * {
        &:not(:last-child) {
          margin-bottom: unit(8);
        }
      }

      &-subtitle-container,
      &-tech-list,
      &-label {
        display: flex;

        .sr-picture {
          width: unit(30);
        }
      }
    }
  }
}