$color-white: #fff;
$color-black: #000;
$color-cta-bg: #6f61c0;
$color-text: #191825;
$color-text-hover: #865dff;
$color-system-error: red;
$breakpoint-sm: 48em;
$breakpoint-md: 64em;
$breakpoint-lg: 80em;
$breakpoint-xl: 90em;

$color-vue: #41b883;
$color-vue-secondary: #35495e;
$color-vue-bg: #2c2d3a;
$color-vue-text: #f0f1e4;
$color-vue-hover: #6bd2d4;
$color-vue-active: #43b2af;
