@font-face {
    font-family: 'REM';
    src: url('~/assets/fonts/REM/REM-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'REM';
    src: url('~/assets/fonts/REM/REM-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'REM';
    src: url('~/assets/fonts/REM/REM-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}